body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
  	text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  	color: rgb(66,69,86);
  	background-image: url('http://i.imgur.com/BJP2Q1j.jpg');
  	background-size: cover;
  	font-weight: 100;
}

